@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

html {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Fraunces', serif;
}

.card-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    width: 37.5rem;
}

picture img {
    width: 18.75rem;
    height: 450px;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    background-color: #FFF;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.card-head {
    letter-spacing: 4px;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.card-title {
    line-height: 0.9;
}

.card-description {
    font-size: 0.75rem;
    line-height: 1.6;
}

.card-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.card-price-promo {
    color: #3D8168;
}

.card-price-full {
    text-decoration: line-through;
}

.card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 45px;
    width: 14.688rem;
    background-color: #3D8168;
    border-radius: 10px;
    color: #FFF;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.card-button:hover {
    cursor: pointer;
}

@media (max-width: 615px) { 
    .card {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    picture img {
        height: 240px;
        width: 90vw;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }

    .card-content {
        margin-top: -0.313rem;
        padding-top: 1.563rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        padding-bottom: 2.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
    }

    .card-button {
        width: 100%
    }

}

@media (max-height: 719px) { 
    .attribution {
        display: none;
    }
}

.attribution {
    margin-top: -30px;
    font-size: 11px;
    width: 100%;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}